#title,
#description,
#cells {
  text-align: center;
  z-index: 0;
}

#tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 175px;
  height: 75px;
  padding: 2px;
  font: 12px;
  background: lightsteelblue;
  border-radius: 2px;
  pointer-events: none;
}
